{% extends '@EsgiBlog/layout.html.twig' %}

{% block title %}
    {{ categoryName }}
{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock menu %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for categoryPost in categoryPosts %}
                    <div class="post-preview">
                        <img src="http://lorempixel.com/700/250/sports/" />
                        <a href="{{ path('esgi_blog_post_show', {'slug': categoryPost.postSlug}) }}">
                            <h2 class="post-title">
                                {{ categoryPost.postTitle }}
                            </h2>
                        </a>
                        <div class="post-content">
                            {{ categoryPost.postContent }}
                        </div>
                        <p class="post-meta">Posted by {{ categoryPost.user.username }}, le {{ categoryPost.created|date('d/m/Y à H:i') }}</p>
                        <span class="label label-default">Status: {{ categoryPost.postStatus }} </span></h3>
                    </div>
                    <hr>
                    {{ categoryPost.postTitle }}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>

{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}
