{% extends '@EsgiBlog/layout.html.twig' %}

{% block title %}
    {{ categoryName }}
{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock menu %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for categoryPost in categoryPosts %}
                    <div class="post-preview">
                        <img src="http://lorempixel.com/700/250/sports/" />
                        <a href="/SymfonyBlog/web/app_dev.php/blog/posts/{{ categoryPost.postSlug }}">
                            <h2 class="post-title">
                                {{ categoryPost.postTitle }}
                            </h2>
                        </a>
                        <div class="post-content">
                            {{ categoryPost.postContent }}
                        </div>
                        <p class="post-meta">Posté par {{ categoryPost.user.username }}, le {{ categoryPost.created|date('d/m/Y à H:i') }}</p>
                        <span class="label label-default">Statut : {{ categoryPost.postStatus }} </span></h3>
                    </div>
                    <hr>
                    {{ categoryPost.postTitle }}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>

{% endblock content %}

    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
