{% extends '@EsgiBlog/layout.html.twig' %}

{% block menu %}
    {{ parent() }}
{% endblock menu %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset('bundles/esgiblog/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for entity in entities %}
                <div class="post-preview">
                    <img src="http://lorempixel.com/700/250/sports/" />
                    <a href="{{ path('esgi_blog_post_show', {'id': entity.id }) }}">
                        <h2 class="post-title">
                            {{ entity.postTitle }}
                        </h2>
                    </a>
                    <div class="post-content">
                        {{ entity.postContent|striptags|truncate(200, true) }}
                    </div>
                    <p class="post-meta">Posted by {{ entity.user.username }}, le {{ entity.postCreatedAt|date('Y-m-d H:i:s') }}</p>
                    <span class="label label-default">Statut : {{ entity.postStatus }} </span></h3>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

{% endblock content%}

    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
