{% extends '@EsgiBlog/layout.html.twig' %}

{% block menu %}
    {{ parent() }}
{% endblock menu %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset('bundles/esgiblog/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Symfony Blog ESGI</h1>
                        <hr class="small">
                        <span class="subheading">A blog developed by a four-men team of the ESGI</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <img src="http://lorempixel.com/700/250/sports/" />
                    <a href="{{ path('esgi_blog_post_show', {'slug': post.postSlug }) }}">
                        <h2 class="post-title">
                            {{ post.postTitle }}
                        </h2>
                    </a>
                    <div class="post-content">
                        {{ post.postContent|striptags|truncate(200, true) }}
                    </div>
                    <p class="post-meta">Posted by {{ post.user.username }}, le {{ post.created|date('Y-m-d H:i:s') }}</p>
                    <span class="label label-default">Status: {{ post.postStatus }} </span></h3>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->

                {% include '@EsgiBlog/Posts/pagination.html.twig' %}
            </div>
        </div>
    </div>


    <hr>

{% endblock content%}

{% block footer %}
    {{ parent() }}
{% endblock footer %}
