{% extends '@EsgiBlog/layout.html.twig' %}
{% block title %}
    {{ post.postTitle }}
{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock menu %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset('bundles/esgiblog/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ post.postTitle|truncate(10, true) }}</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="row">
                    <div class="span6">
                        <p>
                            {{ post.postContent }}
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <p>
                            <i class="icon-user"></i> by <a href="#">{{ post.user.username }}</a>
                            | <i class="icon-calendar"></i> {{ post.created|date('d-m-Y \\à H:i:s') }}
                            | <i class="icon-comment"></i> <a href="#">{{ post.commentsCount }} Comments</a>
                            | <i class="icon-tags"></i> Status: <a href="#"><span class="label label-info">{{ post.postStatus }}</span></a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <a href="{{ path('esgi_blog_post') }}" class="btn btn-primary">Back to the list</a>

                    </div>
                </div>
                {% if post.commentsAllowed %}
                <div class="row">
                    <div class="pull-left col-md-8">
                        <h3>Comments</h3>
                        {% if postComments %}
                            {% for comment in postComments %}
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjQ1ODMzMzk2OTExNjIxMSIgeT0iMzIiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj42NHg2NDwvdGV4dD48L2c+PC9zdmc+" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ comment.commentTitle }}</h4>
                                        <p>{{ comment.commentContent }}</p>
                                        <p>Published at: <span class="label label-primary">{{ comment.created|date('d-m-Y \\à H:i:s') }}</span></p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="alert no-comments">
                                There is no comment.
                            </div>
                        {% endif %}
                    </div>
                    <div class="pull-right col-md-4">
                        <h3>Submit a comment</h3>
                        {{ form_start(create_comment_form) }}
                        {{ form_errors(create_comment_form) }}

                        <div class="form-group">
                            {{ form_label(create_comment_form.commentTitle) }}
                            {{ form_errors(create_comment_form.commentTitle) }}
                            {{ form_widget(create_comment_form.commentTitle, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(create_comment_form.commentContent) }}
                            {{ form_errors(create_comment_form.commentContent) }}
                            {{ form_widget(create_comment_form.commentContent, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        {{ form_end(create_comment_form) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}