{% extends '@EsgiBlog/layout.html.twig' %}

{% block menu %}
    {{ parent() }}
{% endblock menu %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset('bundles/esgiblog/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ entity.postTitle|truncate(10, true) }}</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span8">
            <div class="row">
                <div class="span6">
                    <p>
                        {{ entity.postContent }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <p>
                        <i class="icon-user"></i> by <a href="#">{{ entity.user.username }}</a>
                        | <i class="icon-calendar"></i> {{ entity.postCreatedAt|date('d-m-Y \\à H:i:s') }}
                        | <i class="icon-comment"></i> <a href="#">{{ entity.commentsCount }} Comments</a>
                        | <i class="icon-tags"></i> Statut : <a href="#"><span class="label label-info">{{ entity.postStatus }}</span></a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <a href="{{ path('esgi_blog_post') }}" class="btn btn-primary">Retour à la liste</a>
                    <a href="{{ path('esgi_blog_post_edit', {'id' : entity.id }) }}" class="btn btn-warning">Modifier l'article</a>
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr>

{% endblock content %}

    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
