{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comments</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Commentpostid</th>
                <td>{{ entity.commentPostId }}</td>
            </tr>
            <tr>
                <th>Commentauthor</th>
                <td>{{ entity.commentAuthor }}</td>
            </tr>
            <tr>
                <th>Commentcreatedat</th>
                <td>{{ entity.commentCreatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Commentupdatedat</th>
                <td>{{ entity.commentUpdatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Commenttitle</th>
                <td>{{ entity.commentTitle }}</td>
            </tr>
            <tr>
                <th>Commentcontent</th>
                <td>{{ entity.commentContent }}</td>
            </tr>
            <tr>
                <th>Commentapprouved</th>
                <td>{{ entity.commentApprouved }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('esgi_blog_comments') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('esgi_blog_comments_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
