{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/esgiblog/css/clean-blog.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    {% block menu %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('esgi_blog_post') }}">SymfonyBlog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Navigation menu -->
                    <ul class="nav navbar-nav">
                        {%  for category in esgimenu.getIncludeInMenuCategories() %}
                            <li class="menu-level-1">
                                <a href="{{ path('esgi_blog_category_show', {'slug': category.categorySlug}) }}">{{ category.categoryName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- End of navigation menu -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('esgi_blog_post') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('user_registerpage') }}">Sign in</a>
                        </li>
                        <li>
                            <a href="{{ path('user_loginpage') }}">Login</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% endblock menu %}

    {% block header %}

    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Les BG - 2015</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/esgiblog/js/jquery.js') }}" type="text/javascript"></script>
    {{ parent() }}
    <!-- <script src="{{ asset('bundles/esgiblog/js/clean-blog.min.js') }}" type="text/javascript"></script> -->
{% endblock %}
